CMN_HOST=example.com
CMN_SFTP_HOST=example-sftp-host
CMN_SFTP_USER=example-user
CMN_SFTP_PORT=22
CMN_REMOTE_PLUGIN_DIR=/home/www/public/wp-content/plugins/covermenow-one
CMN_VERSION=0.1.25
CMN_TOKEN=
SFTP_PASS=
